{% extends "::base.html.twig" %}

{% block title %}Lista walut{% endblock %}

{% block body %}
    <h1>Lista dostępnych walut wraz z kodem waluty</h1>

    <h3>Pobrano kursy walut {{ update }}</h3>

    <a class="btn btn-outline-info m-4"  onclick='window.location.reload()'>Odśwież</a>
    <p class="help-block" >Odświeżenie kursów walut jest możliwe raz na 24 godziny </p>

    <table class="table table-hover d-flex">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Waluta</th>
            <th scope="col">Kod</th>
            <th scope="col"></th>
        </tr>

        {% for key, val in currencies %}

            <tr>
                <th scope="col"> {{ key + 1}} </th>

                {% for item, param in val %}

                    {% if item == 'name' %}
                        <td> {{ param }} </td>
                     {% elseif item == 'code' %}
                         <td> {{ param }}</td>
                        <td>
                            <a class="btn btn-large btn-secondary" href="{{ path('showCurrency', {'code': param}) }}">
                                Szczegóły
                            </a>
                        </td>
                    {% endif %}

                {% endfor %}

            </tr>

        {% endfor %}

    </table>

{% endblock %}
